    .container{
      width: 1000px;
      margin:0 auto;
    }
    .clearfix:after{
      content: "";
      display: block;
      clear: both;
    }
    .no-ml{
      margin-left: 0!important;
    }
    .home{
      background: #7d6767;
    }
    .home h2{
      font-size:60px;
      color:#fff;
      line-height: 120px;
      text-align: center;
    }
    .home h3{
      font-size:30px;
      color:#fff;
      line-height: 100px;
      text-align: center;
    }
    .nav-list{
      padding: 0 50px;
      margin-top: 40px;
    }
    .nav-list a{
      display: block;
      width:180px;
      height:180px;
      border-radius: 50%;
      float: left;
      font-size:24px;
      color: #fff;
      text-align: center;
      line-height: 200px;
      margin-left: 60px;
      transition: all 1s;
    }
    .nav-list a:hover{
      transform: scale(1.2);
    }
    .home-basic{
      background-color: #0ed4c8;
    }
    .home-work{
      background-color: #8bd655;
    }
    .home-project{
      background-color: #fcc048;
    }
    .home-other{
     background-color: #cd91ff;
   }
   /*第一屏ending*/
   .profile{
    background-color: #e9f0f5;
  }
  .profile .container{
    position: relative;
    padding: 100px 0;
  }
  .experience .container{
    padding:20px 0;
  }
  .profile-item{
    width:450px;
    background: #fff;
    box-shadow: 0 3px 0 #d7e4ed;
    border-radius: 5px;
    padding:20px;
    line-height: 30px;
    position: relative;
    margin-top: 20px;
  }
  .profile-item2{
    margin-left: 550px;
  }
  .profile-line{
    display: block;
    width: 4px;
    background: #d7e4ed;
    height: 100%;
    position: absolute;
    left: 50%;
    margin-left: -2px;
    top:0;
  }
  .profile-orn1{
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 20px 0 20px 20px;
    border-color: transparent transparent transparent #ffffff;
    position: absolute;
    right: -20px;
    top: 50px;
  }
  .profile-orn2{
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 20px 20px 20px 0;
    border-color: transparent #ffffff transparent transparent;
    position: absolute;
    left: -20px;
    top: 50px;
  }
  .profile-cir{
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 4px solid white;
    background-color: #8bd655;
    position: absolute;
  }
  .profile-cir1{
    right: -75px;
    top: 0;
  }
  .profile-cir2{
    left: -75px;
    top: 0;
  }
/*第二屏ending*/