body{
	width:100%;
	max-width: 640px;
	margin: 0 auto;
}
.clearfix:after {
	content: "";
	display: block;
	clear: both;
}
.s3{
  border: 4px solid #e5e5e5;
  padding-bottom: 0.3rem;
  border-left:none;
  border-right:none;  
}
.s3-ul{
  width: 87%;
  margin:0 auto;
}
.no-lf{
  margin-left: 0 !important;
}
.s3-li{
  width: 18%;
  float: left;
  margin: 0.48rem 0 0 9%;
}
.s3-li p{
  font-size: 0.22rem;
  color: #191919;
  text-align: center;
}

.s4-title{
  font-size: 0.29rem;
  color: rgb(191, 0, 0);
  text-align: center;
  padding-top: 0.16rem;
  font-weight: bold;
}
.s4-title span{
  border-bottom: 2px solid  rgb(191, 0, 0);
}
.s4-end{
  font-size: 0.22rem;
  color: #191919;
  text-align: center;
  padding-top: 0.05rem;
  font-weight:bold;
}
#date{
  width: 49%;
  margin: 0.23rem auto 0;
  font-size: 0.65rem;
  color: #b32e2f;
  text-align: center;
  font-weight:bold;
}
.s4-ul{
  width: 83%;
  margin: 0 auto;
  padding-top: 0.23rem;
}
.s4-li{
  padding-top: 0.12rem;
}
.s4-li p{
  font-size: 0.17rem;
  color: #000;
  float: left;
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
  width: 73%;
}
.s4-li a{
  font-size: 0.17rem;
  color: #b32e2f;
  border-bottom:1px solid #b32e2f; 
  float: left;
}
.s5{
  padding:0.2rem 0;
}
.s5-title{
  font-size:0.3rem;
color: #b32e2f;
  text-align: center;
  font-weight:bold;
  margin: 0.28rem auto 0.1rem;
  padding:0 0.3rem;
}
.s5-iframe{
  height: 380px;
  width: 90%;
  margin: 0 auto;
}
.s6{
  border: 4px solid #e5e5e5;
  border-left:none;
  border-right:none;  
}
.s6-content{
  background: #000;
  padding-bottom: 0.16rem;
}
.s6-title{
  font-size: 0.28rem;
  color:#fff;
  text-align: center;
  padding-top: 0.2rem;
}
.s6-btn{
background-color: rgba(191, 52, 55, 0.99);
  width: 70%;
  line-height: 0.7rem;
  font-size: 0.29rem;
  color: #fff;
  text-align: center;
  margin: 0.24rem auto 0.28rem;
}
.title{
  font-size: 0.36rem;
  font-weight: bold;
  color: #c03639;
  padding-top: 0.41rem;
  text-align: center;
  position:relative;
}
.icon{
  width: 25%;
  height: 0.4rem;
  display: block;
}
.icon-left{
  background:url(../images/yd-10.png) no-repeat center;background-size: cover;
  position:absolute;
  left: 0.48rem;
  top: 0.52rem;
  width: 14%;
  height: 0.3rem;
}
.icon-right{
  background:url(../images/yd-11.png) no-repeat center;background-size: cover;
  position:absolute;
  right: 0.48rem;
  top: 0.52rem;
  width: 14%;
  height: 0.3rem;
}
.s7{
  padding-bottom: 0.3rem;
}
.s7-upright{
  width: 1%;
  height: 0.3rem;
  background: #c03639;
  display: block;
  position:absolute;
  top:0.06rem;
  left: -0.05rem;
}
.s7-doubt{
  width: 60%;
  font-size: 0.22rem;
  color: #000;
  float: left;
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
  padding:0.1rem 0 0 0.1rem;
}
.s7-btn{
  width: 24%;
  line-height: 0.5rem;
  border-radius:0.25rem;
  border: 1px dashed #c0c0c0;
  font-size: 0.22rem;
  color: #c0c0c0;
  text-align: center;
  float: left;
  margin-left: 15%;
}
.btn-solid{
  background: #b32e2f;
}
.s7-ul{
  width: 94%;
  margin: 0.36rem  auto 0;
}
.s7-li{
 position:relative;
 margin: 0.13rem 0 0 0.1rem;
}
.buttom{
  width: 85%;
  line-height: 0.74rem;
  border-radius: 0.33rem;
  background-color: rgba(191, 52, 55, 0.99);
  font-size: 0.3rem;
  color: #fff;
  text-align: center;
  margin: 0.32rem auto 0;
}
.s8{
  border: 4px solid #e5e5e5;
  border-left:none;
  border-right:none;  
  padding-bottom: 0.3rem;
}
.s8-li{
  width: 86%;
  margin-top: 0.49rem;
  position:relative;
}
.picture{
  position:relative;
  margin-left: 0.42rem;
}
.picture-left{
    width: 46%;
  height: 1.75rem;
 position: absolute;
    top: -0.1rem;
    right: -0.5rem;
}
.picture img{
  width: 46%;
  height: 1.75rem;
}

.s8-btn{
  width: 33%;
  line-height: 0.4rem;
  border-radius: 0.05rem;
  background: #c03639;
  font-size: 0.2rem;
  font-weight: bold;
  color: #fff;
  text-align: center;
  position:absolute;
  top:1.22rem;
  left: 0.6rem;
}
.btn-left{
  line-height: 0.4rem;
  border-radius: 0.05rem;
  background: #c03639;
  font-size: 0.2rem;
  font-weight: bold;
  color: #fff;
  text-align: center;
  position:absolute;
  padding:0 0.1rem;
  top:1.22rem;
  left: 0;
}

.content p{
  font-size: 0.24rem;
  color: #666;
  width: 56%;
  position:absolute;
  top: 0.1rem;
  right: -0.5rem;
}
.content-left p{
    font-size: 0.24rem;
  color: #666;
  width: 56%;
  padding-left: 0.42rem;
}
.s9{
    border: 4px solid #e5e5e5;
  border-left:none;
  border-right:none;  
  border-top: none;
  padding-bottom: 0.3rem;
}
.s9-icon{
  width: 92%;
  margin: 0.36rem auto 0;
}
.s10{
  padding-bottom: 0.45rem;
}
.s10-ul{
  width: 95%;
  margin:0.15rem auto 0;
}
.s10-li{
  width: 48%;
  height: 4.02rem;
  float: left;
  margin: 15px 0 0 4%;
  border:1 solid rgba(191, 52, 55, 0.99);
  border-radius: 0.1rem;
  box-shadow: rgba(191, 52, 55, 0.4) 0px 2px 2px 2px;
}
.s10-icon{
  width: 32%;
  height: 0.96rem;
  margin: 0.35rem auto 0;
}
.s10-li h3{
  font-size: 0.28rem;
  color: #333;
  text-align: center;
  padding-top: 0.28rem;
  font-weight: bold;
}
.s10-li p{
  font-size: 0.21rem;
  color: #666;
  text-align: center;
  font-weight: bold;
  padding-top: 0.29rem;
}
.s11{
    
    background-color: rgb(242, 242, 242);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-image: none;
    margin: 0px auto;
    padding:0.3rem 0;
}
.s11-icon{
 width:49%;
 height: 0.51rem;
    margin: 0 auto;
}

.copyright{
  font-size: 0.25rem;
  color: #000;
  text-align: center;
  line-height:0.7rem;
}
.s12-content{
  width:90%;
  margin:0 auto;
}

.s12-item{
 width:30%;
 font-size:0.24rem;
 color:#fff;
 line-height: 0.6rem;
 background-color: rgba(191, 52, 55, 0.99);
 border-radius:5px;
 float: left;
 margin:10px 0 0 5%;
 text-align: center;
}
.no-ml{
  margin-left:0!important;
}